<div id="<%= dom_id comment %>" class="bg-light-subtle">
  <div class="bg-primary-subtle p-2 rounded">
    <h6><%= comment.user.name %></h6>
    <p><%= comment.text %></p>
  </div>
  <a href="#" class="comment-form-display">Reply</a>

  <div class="comment-form" style="display: none;">
    <%= render partial: 'comments/form', locals: { post: comment.post, parent: comment } %>
  </div>

  <div class="sub-comment ms-3 mt-2">
    <%= render comment.comments.order(id: :desc) %>
  </div>
</div>

<script>
    document.addEventListener('click', (event) => {
        if (event.target.matches('.comment-form-display')) {
            event.preventDefault();
            const replyLink = event.target;
            const commentForm = replyLink.nextElementSibling;
            commentForm.style.display = commentForm.style.display === 'none' ? 'block' : 'none';
        }
    });
</script>

